
<h1><%= book.title %></h1>
<p>Description: <%= book.description %></p>
<p>Published Date: <%= book.published_date %></p>
<h2>Author</h2>
<p><a href="/authors/<%= author.id %>"><%= author.name %></a></p>
